# This workflow will run SwiftFormat on a Swift project

name: SwiftFormat

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  format:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run SwiftFormat
      run: swiftformat --lint . --reporter github-actions-log
